===============
Unity generated
===============
Temp/
Library/

ProjectSettings/InputManager.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset

=============
Jekyll stuff
=============

docs/_site
docs/.sass-cache
docs/.jekyll-metadata


=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
